@model CarRentalApplication.Models.ViewModels.Reservation.ReservationViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var a = Model;
}
<div class="panel panel-default">
    <div class="panel-body" style="background-color:#efefef">
        <img src="~/images/@(Model.VehicleSetup.Vehicle.ImageName)" id="rentalVehicle" height="120" width="200" style="display:block; margin:0 auto;" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <b>VEHICLE</b>
    </div>
    <table class="table table-responsive">
        <tr class="review-segment-content vehicle-segment">
            <td class="review-segment-title">Name</td>
            <td>@Model.VehicleSetup.Vehicle.Name</td>
        </tr>
        <tr class="review-segment-content vehicle-segment">
            <td class="review-segment-title">Make Year</td>
            <td>@Model.VehicleSetup.Vehicle.MakeYear</td>
        </tr>
        <tr class="review-segment-content vehicle-segment">
            <td class="review-segment-title"> Capacity</td>
            <td>@Model.VehicleSetup.Vehicle.PassengerCapacity</td>
        </tr>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <b>LOGISTICS</b> 
    </div>
    <table class="table table-responsive">
        <tr class="review-segment-content logistics-segment">
            <td class="review-segment-title">Pickup Location</td>
            <td>@Model.LogisticsSetup.PickupLocation</td>
        </tr>
        <tr class="review-segment-content logistics-segment">
            <td class="review-segment-title">Pickup Date</td>
            <td>@Model.LogisticsSetup.PickupDate.ToString("yyyy-MM-dd")</td>
        </tr>
        <tr class="review-segment-content logistics-segment">
            <td class="review-segment-title">Return Location</td>
            <td>@Model.LogisticsSetup.ReturnLocation</td>
        </tr>
        <tr class="review-segment-content logistics-segment">
            <td class="review-segment-title">Return Date</td>
            <td>@Model.LogisticsSetup.ReturnDate.ToString("yyyy-MM-dd")</td>
        </tr>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <b>CONTACT</b>
    </div>
    <table class="table table-responsive">
        <tr class="review-segment-content contact-segment">
            <td class="review-segment-title">Full Name </td>
            <td>@Model.ContactSetup.FirstName @Model.ContactSetup.LastName</td>
        </tr>
        <tr class="review-segment-content contact-segment">
            <td class="review-segment-title">Email Address</td>
            <td style="word-break:break-all">@Model.ContactSetup.Email</td>
        </tr>
        <tr class="review-segment-content contact-segment">
            <td class="review-segment-title">Phone Number</td>
            <td>@Model.ContactSetup.PhoneNumber</td>
        </tr>
    </table>
</div>