@model CarRentalApplication.Models.ViewModels.Reservation.ReservationViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var a = Model;
}

<div class="col-md-10 col-md-offset-1">
    <table class="table table-responsive" id="review-form">
        <thead>
            <tr class="review-header">
                <td colspan="2"><img src="~/images/@(Model.VehicleSetup.Vehicle.ImageName)" id="rentalVehicle" height="120" width="200" style="display:block; margin:0 auto;" /></td>
            </tr>
        </thead>
        <tbody>
            <tr class="review-segment-header">
                <th colspan="2"><u>VEHICLE</u></th>
            </tr>
            <tr class="review-segment-content">
                <td>NAME</td>
                <td>@Model.VehicleSetup.Vehicle.Name</td>                
            </tr>
            <tr class="review-segment-content">
                <td>MAKE YEAR</td>
                <td>@Model.VehicleSetup.Vehicle.MakeYear</td>
            </tr>
            <tr class="review-segment-content">
                <td>PASSENGER CAPACITY</td>
                <td>@Model.VehicleSetup.Vehicle.PassengerCapacity</td>
            </tr>
            <tr class="review-segment-header">
                <th colspan="2">LOGISTICS</th>
            </tr>
            <tr class="review-segment-content">
                <td>PICKUP LOCATION AND DATE</td>
                <td>@Model.LogisticsSetup.PickupLocation ON @Model.LogisticsSetup.PickupDate.ToString("yyyy-MM-dd")</td>
            </tr>
            <tr class="review-segment-content">
                <td>RETURN LOCATION AND DATE</td>
                <td>@Model.LogisticsSetup.ReturnDate ON @Model.LogisticsSetup.ReturnDate.ToString("yyyy-MM-dd")</td>
            </tr>
            <tr class="review-segment-header">
                <th colspan="2">CONTACT</th>
            </tr>
            <tr class="review-segment-content">
                <td>FULL NAME</td>
                <td>@Model.ContactSetup.FirstName @Model.ContactSetup.LastName</td>
            </tr>
            <tr class="review-segment-content">
                <td>EMAIL ADDRESS</td>
                <td>@Model.ContactSetup.Email</td>
            </tr>
            <tr class="review-segment-content">
                <td>PHONE NUMBER</td>
                <td>@Model.ContactSetup.PhoneNumber</td>
            </tr>
            <tr class="review-segment-header">
                <th colspan="2">TOTAL COST</th>
            </tr>
            <tr class="review-segment-content">
                <td>VEHICLE COST (For @Model.TotalRentalDays Days)</td>
                <td>$@Model.TotalVehicleCostMinusTax</td>
            </tr>
            <tr class="review-segment-content">
                <td>FEDERAL TAX</td>
                <td>$@Model.FederalTax</td>
            </tr>
            <tr class="review-segment-content">
                <td>STATE TAX</td>
                <td>$@Model.StateTax</td>
            </tr>
            <tr class="review-segment-content">
                <td>TOTAL COST</td>
                <td>$@Model.TotalCost</td>
            </tr>
        </tbody>
    </table>
</div>