@model CarRentalApplication.Models.ViewModels.Dashboard.ReservationsListViewModel
@using ViewModels = CarRentalApplication.Models.ViewModels
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Model.FormProcessing = new ViewModels.FormSubmissionViewModel { FormAction = "Index", FormController = "Dashboard" };
}
@section Scripts {
    <!-- 1. Load libraries -->
    @*<script src="~/lib/core-js/core.js"></script>
        <script src="~/lib/zone.js/zone.js"></script>
        <script src="~/lib/reflect-metadata/reflect.js"></script>
        <script src="~/lib/systemjs/system.src.js"></script>*@
    <!-- 2. Configure SystemJS -->
    @*<script src="~/systemjs.config.js"></script>
        <script>
                  System.import('app').catch(function(err){ console.error(err); });
        </script>*@
}

<div class="row">
    <h3 class="pageHeading">Dashboard</h3>
    <div class="col-md-offset-4 col-md-3 dashboard-segment dashboard-tool-segment text-center">
        <a asp-controller="Home" class="dashboard-tool" asp-action="Index" data-toggle="tooltip" title="Create New Reservation"><span class="glyphicon glyphicon-plus" style="font-size:2.5em;"></span></a>&nbsp;
        <a><span class="glyphicon glyphicon-cog" style="font-size:2.5em;"></span></a>
    </div>
    <!--Angular App-->
    <div class="col-lg-8 col-md-7 dashboard-segment dashboard-reservation-segment">
        @*<ng-application>
                <h3 style="color:coral"><b>Loading Reservations...</b></h3>
            </ng-application>*@

        <h4>Reservations</h4>
        <hr />
        @if(Model.UserReservations.Count() == 0)
        {
            <p>Welcome! You have no reservations.<a asp-action="Index" asp-controller="Home"> <u><i>Start a new Reservation</i></u></a></p>
        }
        @foreach (var rvm in Model.UserReservations)
        {
            <div class="well form-group">
                <form asp-controller=@(Model.FormProcessing.FormController) asp-action=@(Model.FormProcessing.FormAction) method="post" role="form">
                    <div asp-valIdation-summary="All" class="text-danger"></div>
                    <div class="">
                        <a style="font-size:25px;margin-right:40px;">R:@rvm.ConfirmationNumber</a>
                        <input type="button" class="btn btn-sm btn-default dashboard-reservation-details" id=@rvm.ConfirmationNumber value="Show Details" />
                        <input type="submit" class="btn btn-sm btn-primary" id="updatereservationbtn" value="Update" />
                    </div>
                    <input type="hIdden" asp-for="ReservationId" value=@(rvm.ConfirmationNumber) />
                </form>
            </div>
            <div class="col-lg-10">
                <table style="display:none;" class="table table-responsive dashboard-reservations-list review-form" id=@rvm.ConfirmationNumber>
                    <thead>
                        <tr class="review-header">
                            <td colspan="2"><img src="~/images/@(rvm.VehicleSetup.Vehicle.ImageName)" id="rentalVehicle" height="120" width="200" style="display:block; margin:0 auto;" /></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="review-segment-header">
                            <th colspan="2"><u>VEHICLE</u></th>
                        </tr>
                        <tr class="review-segment-content">
                            <td>NAME</td>
                            <td>@rvm.VehicleSetup.Vehicle.Name</td>
                        </tr>
                        <tr class="review-segment-content">
                            <td>MAKE YEAR</td>
                            <td>@rvm.VehicleSetup.Vehicle.MakeYear</td>
                        </tr>
                        <tr class="review-segment-content">
                            <td>PASSENGER CAPACITY</td>
                            <td>@rvm.VehicleSetup.Vehicle.PassengerCapacity</td>
                        </tr>
                        <tr class="review-segment-header">
                            <th colspan="2">LOGISTICS</th>
                        </tr>
                        <tr class="review-segment-content">
                            <td>PICKUP LOCATION AND DATE</td>
                            <td>@rvm.LogisticsSetup.PickupLocation ON @rvm.LogisticsSetup.PickupDate.ToString("yyyy-MM-dd")</td>
                        </tr>
                        <tr class="review-segment-content">
                            <td>RETURN LOCATION AND DATE</td>
                            <td>@rvm.LogisticsSetup.ReturnDate ON @rvm.LogisticsSetup.ReturnDate.ToString("yyyy-MM-dd")</td>
                        </tr>
                        <tr class="review-segment-header">
                            <th colspan="2">CONTACT</th>
                        </tr>
                        <tr class="review-segment-content">
                            <td>FULL NAME</td>
                            <td>@rvm.ContactSetup.FirstName @rvm.ContactSetup.LastName</td>
                        </tr>
                        <tr class="review-segment-content">
                            <td>EMAIL ADDRESS</td>
                            <td>@rvm.ContactSetup.Email</td>
                        </tr>
                        <tr class="review-segment-content">
                            <td>PHONE NUMBER</td>
                            <td>@rvm.ContactSetup.PhoneNumber</td>
                        </tr>
                        <tr class="review-segment-header">
                            <th colspan="2">TOTAL COST</th>
                        </tr>
                        <tr class="review-segment-content">
                            <td>VEHICLE COST (For @rvm.TotalRentalDays Days)</td>
                            <td>$@rvm.TotalVehicleCostMinusTax</td>
                        </tr>
                        <tr class="review-segment-content">
                            <td>FEDERAL TAX</td>
                            <td>$@rvm.FederalTax</td>
                        </tr>
                        <tr class="review-segment-content">
                            <td>STATE TAX</td>
                            <td>$@rvm.StateTax</td>
                        </tr>
                        <tr class="review-segment-content">
                            <td>TOTAL COST</td>
                            <td>$@rvm.TotalCost</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }

    </div>
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 dashboard-segment dashboard-sidebar" style="">
        <h5>Personal</h5><hr />
        <p><a>Account Settings</a></p>
        <p><a>Profile</a></p>
        <br />
        <h5>General</h5><hr />
        <p><a>Save On Car Reservations</a></p>
        <p><a>Federal and State Tax Information</a></p>
        <p><a>Terms and Conditions</a></p>
        <p><a>FAQs</a></p>
    </div>
</div>
